<!DOCTYPE html>
<html>
  <head>
    <title>DevelopingMasteryBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="top-nav">
      <%= link_to 'All Articles', articles_path, class: 'navItem' %>
      &nbsp|&nbsp
      <%= link_to 'New Article', new_article_path, class: 'navItem' %>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
